<div>
  <div class="negocio" id="n1">
    <h1>{{negocio1.tipo}} - {{negocio1.nombre}}</h1>
    <table>
      <tr>
        <td>
          <img src="{{negocio1.logo}}" alt="Logo" width="350">
        </td>
        <td>
          <h2>Descripción:</h2>
          <p>{{negocio1.desc}}</p>
        </td>
      </tr>
    </table>
    <p>Menú: {{negocio1.cont}}</p>
    <p>Ubicación: {{negocio1.pueblo}}</p>
    <p>Coordenadas: Latitud: {{negocio1.coord.lat}}  |  Longitud: {{negocio1.coord.lon}}</p>
    <h2>Horario:</h2>
    <Table id="horario">
      <tr>
        <td>  Lunes  </td><td>  Martes  </td><td>  Miercoles  </td><td>  Jueves  </td><td>  Viernes  </td>
        <td>  Sábado  </td><td>  Domingo  </td><td>  Festivo  </td>
      </tr>
      <tr>
        <td>{{negocio1.horario.lun}}</td><td>{{negocio1.horario.mar}}</td><td>{{negocio1.horario.mie}}</td>
        <td>{{negocio1.horario.jue}}</td><td>{{negocio1.horario.vie}}</td><td>{{negocio1.horario.sab}}</td>
        <td>{{negocio1.horario.dom}}</td><td>{{negocio1.horario.fes}}</td>
      </tr>
    </Table>
  </div>
  <div class="negocio" id="n2">
    <h1>{{negocio2.tipo}} - {{negocio2.nombre}}</h1>
    <table>
      <tr>
        <td>
          <img src="{{negocio2.logo}}" alt="Logo" width="350">
        </td>
        <td>
          <h2>Descripción:</h2>
          <p>{{negocio2.desc}}</p>
        </td>
      </tr>
    </table>
    <p>Menú: {{negocio2.cont}}</p>
    <p>Ubicación: {{negocio2.pueblo}}</p>
    <p>Coordenadas: Latitud: {{negocio2.coord.lat}}  |  Longitud: {{negocio2.coord.lon}}</p>
    <h2>Horario:</h2>
    <Table id="horario">
      <tr>
        <td>  Lunes  </td><td>  Martes  </td><td>  Miercoles  </td><td>  Jueves  </td><td>  Viernes  </td>
        <td>  Sábado  </td><td>  Domingo  </td><td>  Festivo  </td>
      </tr>
      <tr>
        <td>{{negocio2.horario.lun}}</td><td>{{negocio2.horario.mar}}</td><td>{{negocio2.horario.mie}}</td>
        <td>{{negocio2.horario.jue}}</td><td>{{negocio2.horario.vie}}</td><td>{{negocio2.horario.sab}}</td>
        <td>{{negocio2.horario.dom}}</td><td>{{negocio2.horario.fes}}</td>
      </tr>
    </Table>
  </div>
  <div class="negocio" id="n3">
    <h1>{{negocio3.tipo}} - {{negocio3.nombre}}</h1>
    <table>
      <tr>
        <td>
          <img src="{{negocio3.logo}}" alt="Logo" width="350">
        </td>
        <td>
          <h2>Descripción:</h2>
          <p>{{negocio3.desc}}</p>
        </td>
      </tr>
    </table>
    <p>Menú: {{negocio3.cont}}</p>
    <p>Ubicación: {{negocio3.pueblo}}</p>
    <p>Coordenadas: Latitud: {{negocio3.coord.lat}}  |  Longitud: {{negocio3.coord.lon}}</p>
    <h2>Horario:</h2>
    <Table id="horario">
      <tr>
        <td>  Lunes  </td><td>  Martes  </td><td>  Miercoles  </td><td>  Jueves  </td><td>  Viernes  </td>
        <td>  Sábado  </td><td>  Domingo  </td><td>  Festivo  </td>
      </tr>
      <tr>
        <td>{{negocio3.horario.lun}}</td><td>{{negocio3.horario.mar}}</td><td>{{negocio3.horario.mie}}</td>
        <td>{{negocio3.horario.jue}}</td><td>{{negocio3.horario.vie}}</td><td>{{negocio3.horario.sab}}</td>
        <td>{{negocio3.horario.dom}}</td><td>{{negocio3.horario.fes}}</td>
      </tr>
    </Table>
  </div>
  <div class="negocio" id="n4">
    <h1>{{negocio4.tipo}} - {{negocio4.nombre}}</h1>
    <table>
      <tr>
        <td>
          <img src="{{negocio4.logo}}" alt="Logo" width="350">
        </td>
        <td>
          <h2>Descripción:</h2>
          <p>{{negocio4.desc}}</p>
        </td>
      </tr>
    </table>
    <p>Menú: {{negocio4.cont}}</p>
    <p>Ubicación: {{negocio4.pueblo}}</p>
    <p>Coordenadas: Latitud: {{negocio4.coord.lat}}  |  Longitud: {{negocio4.coord.lon}}</p>
    <h2>Horario:</h2>
    <Table id="horario">
      <tr>
        <td>  Lunes  </td><td>  Martes  </td><td>  Miercoles  </td><td>  Jueves  </td><td>  Viernes  </td>
        <td>  Sábado  </td><td>  Domingo  </td><td>  Festivo  </td>
      </tr>
      <tr>
        <td>{{negocio4.horario.lun}}</td><td>{{negocio4.horario.mar}}</td><td>{{negocio4.horario.mie}}</td>
        <td>{{negocio4.horario.jue}}</td><td>{{negocio4.horario.vie}}</td><td>{{negocio4.horario.sab}}</td>
        <td>{{negocio4.horario.dom}}</td><td>{{negocio4.horario.fes}}</td>
      </tr>
    </Table>
  </div>
  <div class="negocio" id="n5">
    <h1>{{negocio5.tipo}} - {{negocio5.nombre}}</h1>
    <table>
      <tr>
        <td>
          <img src="{{negocio5.logo}}" alt="Logo" width="350">
        </td>
        <td>
          <h2>Descripción:</h2>
          <p>{{negocio5.desc}}</p>
        </td>
      </tr>
    </table>
    <p>Menú: {{negocio5.cont}}</p>
    <p>Ubicación: {{negocio5.pueblo}}</p>
    <p>Coordenadas: Latitud: {{negocio5.coord.lat}}  |  Longitud: {{negocio5.coord.lon}}</p>
    <h2>Horario:</h2>
    <Table id="horario">
      <tr>
        <td>  Lunes  </td><td>  Martes  </td><td>  Miercoles  </td><td>  Jueves  </td><td>  Viernes  </td>
        <td>  Sábado  </td><td>  Domingo  </td><td>  Festivo  </td>
      </tr>
      <tr>
        <td>{{negocio5.horario.lun}}</td><td>{{negocio5.horario.mar}}</td><td>{{negocio5.horario.mie}}</td>
        <td>{{negocio5.horario.jue}}</td><td>{{negocio5.horario.vie}}</td><td>{{negocio5.horario.sab}}</td>
        <td>{{negocio5.horario.dom}}</td><td>{{negocio5.horario.fes}}</td>
      </tr>
    </Table>
  </div>
</div>
